/* src/components/Product.css */
.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* src/components/ProductsList.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* src/components/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
